@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.topbar {
	padding: 24px;
	background-color: var(--bg-color);
	@include d-flex(row, 0);
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	@include mq(min-width, 600px) {
		padding-left: 32px;
		padding-right: 32px;
	}

	@include mq(min-width, 960px) {
		padding-left: 60px;
		padding-right: 60px;
	}

	@include mq(min-width, 1280px) {
		padding-left: 96px;
		padding-right: 96px;
	}

	.nav {
		@include d-flex(row, 1.5rem);
		align-items: center;
		z-index: 100;

		.nav-list {
			@include d-flex(column, 0);
			align-items: center;
			position: fixed;
			top: 69px;
			right: 0;
			width: 100%;
			height: 0vh;
			overflow: hidden;
			z-index: 100;
			pointer-events: none;
			@include prefix(transition, (height 0.3s));
			.nav__item {
				width: 100%;
				padding: 0 24px;

				&:first-child {
					padding-top: 24px;
				}
				.nav__link {
					@include d-flex(row, 0);
					justify-content: space-between;
					padding: 12px 24px;
					text-align: center;
					border-radius: 1rem;

					.svg {
						opacity: 0;

						@include prefix(transition, (opacity 0.3s));
					}

					&:hover {
						background-color: var(--light-color);
						.svg {
							opacity: 1;
						}
					}
				}
			}

			@include mq(min-width, 600px) {
				position: static;
				pointer-events: all;
				height: unset;
				top: 0;
				flex-direction: row;
				gap: 1.5rem;

				.nav__item {
					padding: 0;

					&:first-child {
						padding-top: 0;
					}

					.nav__link {
						padding: 0;

						&:hover {
							background-color: unset;
						}

						.svg {
							display: none;
						}
					}
				}
			}
		}

		.nav-action {
			background: none;
			border: none;
			margin: none;
			padding: none;
			cursor: pointer;
		}

		.theme-toggle {
			.theme-dark {
				display: none;
			}
		}

		.menu-toggle {
			display: none;
			@include d-flex(column, 0.5rem);
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;

			span {
				width: 24px;
				height: 2px;
				background-color: var(--text-color);
			}
		}

		@include mq(max-width, 600px) {
			&.open {
				.nav-list {
					height: 100vh;
					pointer-events: all;
				}
			}

			.menu-toggle {
				display: flex;
			}
		}
	}
}
