@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.pokedex-list {
	flex: 1;
	@include d-flex(column, 12px);
	justify-content: stretch;

	@include mq(min-width, 960px) {
		max-width: calc(100% - 300px);
	}

	.pokedex-list__layout-grid {
		flex: 1;
		display: grid;
		gap: 0.75rem;

		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		gap: 0.75rem;

		@include mq(min-width, 600px) {
			grid-template-columns: 1fr 1fr;
		}

		@include mq(min-width, 880px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@include mq(min-width, 960px) {
			grid-template-columns: 1fr 1fr;
		}

		@include mq(min-width, 1280px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.pokedex-list__layout-list {
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		gap: 6px;
	}
}
