@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.pokeball {
	width: 70%;
	height: auto;
	position: absolute;
	top: 72px;
	left: 50%;
	@include prefix(transform, translateX(-50%));
	color: var(--detail-color);
	z-index: 0;
	pointer-events: none;

	@include mq(min-width, 460px) {
		width: 60%;
	}

	@include mq(min-width, 520px) {
		width: 50%;
	}

	@include mq(min-width, 600px) {
		left: 35%;
	}

	@include mq(min-width, 700px) {
		width: 40%;
	}

	@include mq(min-width, 960px) {
		width: 100%;
		top: 0;
		left: 50%;
	}
}
