// COLOR PALETTE
$grey0: #0d0d0d;
$grey20: #404040;
$grey40: #808080;
$grey60: #bfbfbf;
$grey80: #e6e6e6;
$grey100: #fcfcfc;

$navy1: #192733;
$navy2: #163450;
$navy3: #193f63;
$dark-blue: #214e78;
$blue: #4fa4f4;
$light-blue1: #c8e3f6;
$light-blue2: #f0f5fb;
$flash: #f5f7fa;

// Pokemon types
$bug: #7f8d16;
$dark: #50413f;
$dragon: #5060e1;
$electric: #ebb400;
$fairy: #ee68ee;
$fighting: #f57b00;
$fire: #e62829;
$flying: #77b4ee;
$ghost: #704170;
$grass: #3fa129;
$ground: #915121;
$ice: #33d6ff;
$normal: #9b9d9b;
$poison: #8d3bc9;
$psychic: #ee3974;
$rock: #aaa379;
$steel: #599db5;
$water: #207bee;

$shadow-color: rgba(0, 0, 0, 0.15);
$fav-color: #f95fa9;

$type-map: (
	'bug': $bug,
	'dark': $dark,
	'dragon': $dragon,
	'electric': $electric,
	'fairy': $fairy,
	'fighting': $fighting,
	'fire': $fire,
	'flying': $flying,
	'ghost': $ghost,
	'grass': $grass,
	'ground': $ground,
	'ice': $ice,
	'normal': $normal,
	'poison': $poison,
	'psychic': $psychic,
	'rock': $rock,
	'steel': $steel,
	'water': $water,
);

$default-font-size: 16px;
$main-font-family: 'Open Sans', sans-serif;
$headers-font-family: 'Ubuntu', sans-serif;

$size-map: (
	// small
	'x-small': 0.75,
	// h6
	'small': 0.889,
	// default & h5
	'normal': 1,
	// h4
	'x-normal': 1.125,
	// h3
	'large': 1.1266,
	// big
	'big': 1.333333,
	// h2
	'x-big': 1.424,
	// h1
	'huge': 1.602
);
