@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.pokedex {
	padding-top: 69px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 32px;
	width: 100%;
	@include d-flex(column, 0.75rem);

	@include mq(min-width, 600px) {
		padding-left: 32px;
		padding-right: 32px;
	}

	@include mq(min-width, 960px) {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		max-width: 896px;
	}

	@include mq(min-width, 1280px) {
		padding-left: 96px;
		padding-right: 96px;
		max-width: unset;
	}

	@include mq(min-width, 1440px) {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		max-width: 1280px;
	}

	.pokedex-container {
		@include d-flex(row, 24px);
		justify-content: stretch;
		align-items: stretch;

		.pokedex-list {
			flex: 1;
			display: grid;
			gap: 0.75rem;

			@include mq(min-width, 960px) {
				max-width: calc(100% - 300px);
			}

			&.pokedex-list__layout-grid {
				grid-template-columns: 1ff;
				grid-auto-rows: 1fr;
			}

			&.pokedex-list__layout-list {
				grid-template-columns: 1fr;
				grid-auto-rows: 1fr;
			}
		}

		.pokedex-detail {
			position: fixed;
			bottom: 0;
			right: 0;
			background-color: var(--bg-color);
			height: 500px;
			width: 300px;
			overflow: hidden;

			@include mq(min-width, 960px) {
				position: sticky;
				top: 72px;
				right: 0;
				width: 300;
			}
		}
	}
}
